.cta2-outer-flex{
    margin-top: 8em;
   
    background-image: url('../../assets/header.svg');
    background-size: contain;
    background-position: fixed;
    height: 100vh;
}
#section2{
    transition: all 2s;
    opacity: 0;
    transform: translate3d(0,40px,0)
}
.cta2-header{
    color: white;
    text-align: center;
    font-family: var(--font-family);
    font-size: 40px;
    font-weight: 750;
    padding: 3em;
}
.cta2-item-title{
    color: #00e472;
    font-family: var(--font-family);
    
    font-weight: 700;
    font-size: 20px;
    padding: 1em 2em;
}
.cta2-item-description{
    font-family: var(--font-family);
    font-size: 15px;
    color: white;
    opacity: 0.8;
    width:40em;
    margin-bottom: 5em;
    padding: 1em 3em;
    line-height: 30px;
}

@media screen and (max-width: 600px) {
    .cta2-outer-flex{
        margin-top: 1em;
       
        background-image: url('../../assets/header.svg');
        background-size: contain;
        background-position: fixed;
        height: 100%;
    }
    .cta2-box{
        flex-direction: column;
        align-items: center;
    }
    .cta2-item-title{
        color: #00e472;
        font-family: var(--font-family);
        
        font-weight: 700;
        font-size: 12px;
        padding:1em;
        text-align: center;
    }
    .cta2-item-description{
        font-family: var(--font-family);
        font-size: 12px;
        text-align: center;
        
    }
  }